.label-list {
  padding-top: 5%;
  width: 1200px;
  display: flex;
  height: auto;
  margin: 0 auto;
  .left {
    // flex: 1;
    display: flex;

    .label-text {
      font-size: 16px;
      display: inline-block;
      padding: 2px;
    }
  }
  .right {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 45px;
    max-height: 65px; // 设置初始显示的高度，调整为两行高度
    overflow: hidden;
    position: relative;

    .label-text {
      font-size: 16px;
      display: inline-block;
      padding: 2px;
    }

    .showMore {
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      color: blue;
      font-size: 14px;
    }

  }
  
  .expanded {
    max-height: none !important; // 取消高度限制
  }
}

.courses-list {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  // padding-top: 34px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: relative;
}